@font-face {
    font-family: "montserrat-regular";
    src: url(/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "montserrat-SemiBoldItalic";
    src: url(/fonts/Montserrat-SemiBoldItalic.ttf);
}