*{
    margin: 0;
}

#header{
    height: 200px;
    background-color: #242629;
    font-family: montserrat-regular;
    display: flex;
    align-items: center;
}

h1{
    font-size: 300%;
    color: #f2efec;
    margin-left: 15px;
}

#main{
    margin: 15px;
    font-family: montserrat-regular;
    display: flex;
    flex-direction: column;
}

h3{
    margin: 20px 0;
    font-size: 200%;
}

#main span{
    margin: 20px 0;
    font-size: 100%;
}

#perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil span{
    font-family: montserrat-SemiBoldItalic;
}

#perfil img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#footer{
    background-color: #91919c;
    height: 100px;
    padding: 10px;
}

#footer-msg{
    display: flex;
    flex-direction: column;
    font-family: montserrat-regular;
}

#footer-icons{
    display: flex;
    flex-direction: row;
}

img{
    width: 30px;
    height: 30px;
    margin: 5px;
}